include README.md
include README.rst
include LICENSE.txt
include Makefile
include docker/Dockerfile
include default.config
include base.mk
include base-libpycoram.mk
include mem-incr.hex
recursive-include include *
recursive-include c_lib *
recursive-include examples *
recursive-include tests *
recursive-include libpycoram_tests *
